.breadcrumds {
	margin: 50px 0;
	font-family: Arial;
	font-size: 36px;
	font-weight: 700;
	line-height: 41.4px;
	text-align: left;
	color: #7a7776;
}

@media (max-width: 640px) {
	.breadcrumds {
		font-size: 24px;
		margin: 40px 0;
	}
}
