.step-columns {
  display: flex;
  align-items: flex-start;
  margin: 36px 0;
}

.title-column {
  border: 1px solid red;
  flex: 0 0 33%;
  box-sizing: border-box;
  padding: 2px 4px;
}

.title-column span {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.1px;
  text-align: left;
  color: #7a7776;
}

.content-column {
  border: 1px solid blue;
  flex: 1;
  box-sizing: border-box;
  padding: 2px 4px;
}
