.step-columns {
	display: flex;
	align-items: flex-start;
	margin: 36px 0;
}

.title-column {
	width: 33%;
	box-sizing: border-box;
	padding: 0;
}

.title-column span {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.1px;
	text-align: left;
	color: #7a7776;
}

.content-column {
	width: 67%;
	box-sizing: border-box;
	padding: 0;
}

@media (max-width: 640px) {
	.step-columns {
		display: flex;
		flex-direction: column;
		margin: 36px 0;
	}

	.title-column {
		width: 100%;
		margin-bottom: 34px;
	}

	.content-column {
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}

	.address-fields-wrapper,
	.datepicker-fields-wrapper {
		flex-direction: column;
	}

	.datepicker-fields-wrapper {
		margin-bottom: 0 !important;
		gap: 24px;
	}

	.payer-fields-wrapper {
		flex-direction: column;
		gap: 24px;
	}
}
